.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.essams-store-img {
    height: 100px;
    background-repeat: no-repeat;
    background-position: 20px -6px;
}
p.lead sup {
    font-size: 12px;
}
.store-info {padding: 20px;background-color: #fff;border: 1px solid #c4c8ca;margin-bottom: 20px;}
.store-info .wp-post-image {margin-bottom: 20px;}
.store-info .store-cash-back {color: #f54a2e;font-weight: 600;margin-bottom: 24px;font-size: 16px;font-size: 1.6rem;}
.store-details h5 {font-size: 10px;font-size: 1rem;text-transform: uppercase;letter-spacing: .1em;padding-bottom: 10px;margin: 0; color: #999c9d;}
.store-details .card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #c4c8ca;
    color: #606568;
}
.store-details .card Strong{
    margin-top: 0;
    color: #606568;
}
.store-description .toggler {
    position: relative;
    display: inline-block;
}
.store-description input[type=checkbox] {
    display: none;
}
.store-description label {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 400;
    color: #3b444a;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: margin-bottom .35s;
}
.store-description label:after {
    content: "More +";
    margin-left: 3px;
}
.store-description .toggle-content {
    max-height: 5.4rem;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height .15s;
}
.store-description .toggle-content:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.7rem;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 60%);
}
.single-store .store-social-networks {
    margin-left: 2px;
    border: 1px solid #f4f4f4;
    border-left: none;
    border-right: none;
}
.single-store .store-social-networks li {
    width: calc(33% + 2px);
}
.store-social-networks li {
    margin: -1px -2px 0;
    width: 25%;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}
.store-social-networks li:first-child, .store-social-networks li:last-child {
    border: none;
}
a.share {
    position: absolute;
    bottom: -1px;
    left: 0;
    padding: 6px 12px;
    font-size: 14px;
    color: #c1c2c2;
    background-color: #fff;
}
.store-social-networks li a.share {
    position: relative;
    padding: 0;
    background-color: transparent;
    border-left: none;
    text-align: center;
}
.store-social-networks li a i {
    padding: 10px 0;
    width: 100%;
    font-size: 21px;
    color: #929292;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.store_deals_grid {
    box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.6);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 50px;
}
.store_deals_grid .cat_guideline .guideline_heading, .store_deals_grid .deal-list-header {
    float: left;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    color: #3da6ba;
    font-weight: 600;
	border-bottom: 1px solid;
}
.masonry .deal-list-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #d5d5d7;
    padding-bottom: 20px;
}
.masonry .deal-content.deal-title {
    float: left;
    width: 80%;
}
.masonry .deal-list-item .second_offer_area {
    float: left;
    width: 20%;
    text-align: center;
}
.masonry a.show-code, .masonry a.show-code-ne {
    float: left;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    text-decoration: underline;
    color: #000;
    font-weight: 600;
}
.masonry .deal-code {
    float: left;
    width: 100%;
    color: #828385;
    font-weight: 600;
}
.masonry a.btn.new-show-code {
    float: left;
    width: 100%;
    background: #e85036;
	color: #ffffff;
}
.deal-list {
    padding: 15px;
}
span.red-meta {
    color: #545454;
}
span.red-meta:not(:first-child) {
    margin-left: 17px;
}
span.AMS-coupon {
    margin-left: 5px;
    padding: 5px;
    border: 1px dashed #2196F3;
}
ul.offer-categories {
    list-style: none;
    margin: 0;
}
ul.offer-categories li {
    padding: 6px 2px;
}
ul.offer-categories li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
li.active-cat a {
    color: #9E9E9E;
}
.main-offer-category {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.category-header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
}
.offer-categories-list {
    padding: 5px;
}
span.page-numbers.current {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
}
.essitco_ams_offer_widget .deal-list-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #d5d5d7;
    padding-bottom: 20px;
}
.essitco_ams_offer_widget .deal-content.deal-title {
    float: left;
    width: 80%;
}
.essitco_ams_offer_widget .deal-list-item .second_offer_area {
    float: left;
    width: 20%;
    text-align: center;
}
.essitco_ams_offer_widget a.show-code, .essitco_ams_offer_widget a.show-code-ne {
    float: left;
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.essitco_ams_offer_widget .deal-code {
    float: left;
    width: 100%;
    color: #828385;
    font-weight: 600;
}
.essitco_ams_offer_widget a.btn.new-show-code {
    float: left;
    width: 100%;
    background: #e85036;
	color: #ffffff;
}
a.show-code:hover {
    text-decoration: none;
}
.offer-store-logo {
    width: 19%;
    float: left;
    margin-right: 1%;
}